
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <h1>
            Unauthorized attempt!
        </h1>
        @if (User.Identity.IsAuthenticated)
            {
            <h3>
                Please @Html.ActionLink("Logout", "LogOff", "Account", new { area = "" }, null) and then login with an account that has permission to view this page.
            </h3>
        }
        else
        {
            <h3>
                Please @Html.ActionLink("Login", "Login", "Account", new { area = "" }, null) with an account that has permission to view this page.
            </h3>
        }

    </div>
</div>
