@{
    ViewBag.Title = "Home";
}

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <h1 class="centered">Warehouse Inventory Tracker</h1>
            <img src="~/Content/warehouse-led.jpg" alt="Storehouse image" class="img-responsive"/>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-offset-1 col-md-5 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title centered">Warehouses</h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <p>Storage availability</p>
                    </li>
                    <li>
                        <p>24/7 access</p>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <p class="centered"><a class="btn btn-default btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title centered">Records</h2>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <p>Keep track of every incoming or outgoing stock</p>
                    </li>
                    <li>
                        <p>Inventory data before and after the entry</p>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <p class="centered"><a class="btn btn-default btn-sm" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>