@using Stock.Models.ViewModels.Warehouse
@using PagedList
@using PagedList.Mvc
@model IPagedList<WarehouseListViewModel>

@foreach (var warehouse in Model)
{
    //todo
}
 
<div id="pagedList">
    @Html.PagedListPager(Model,
        page => Url.Action("Display", new { search = ViewBag.SearchKeyWord, page = page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "searchResult"
        }))
</div>